@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --background: 303 92% 95%;
  --foreground: 303 5% 10%;
  --card: 303 50% 90%;
  --card-foreground: 303 5% 15%;
  --popover: 303 92% 95%;
  --popover-foreground: 303 95% 10%;
  --primary: 303 88% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 303 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 265 30% 85%;
  --muted-foreground: 303 5% 40%;
  --accent: 265 30% 80%;
  --accent-foreground: 303 5% 15%;
  --destructive: 0 92% 50%;
  --destructive-foreground: 303 5% 90%;
  --border: 303 30% 60%;
  --input: 303 30% 50%;
  --ring: 303 88% 40%;
  --radius: 1rem;

  --chart-1: 26 85% 50%;
  --chart-2: 46 85% 50%;
  --chart-3: 6 85% 50%;
  --chart-4: 66 85% 50%;
  --chart-5: 206 85% 50%;

  --success: 120 60% 50%;
  --success-foreground: 120 20% 90%;
  --warning: 45 100% 50%;
  --warning-foreground: 45 100% 20%;
  --info: 200 100% 50%;
  --info-foreground: 200 100% 90%;
}

.dark {
  --background: 303 50% 10%;
  --foreground: 303 5% 90%;
  --card: 303 50% 10%;
  --card-foreground: 303 5% 90%;
  --popover: 303 50% 5%;
  --popover-foreground: 303 5% 90%;
  --primary: 303 88% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 303 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 265 30% 25%;
  --muted-foreground: 303 5% 60%;
  --accent: 265 30% 25%;
  --accent-foreground: 303 5% 90%;
  --destructive: 0 92% 50%;
  --destructive-foreground: 303 5% 90%;
  --border: 303 30% 50%;
  --input: 303 30% 50%;
  --ring: 303 88% 40%;
  --radius: 1rem;

  --chart-1: 26 75% 45%;
  --chart-2: 46 75% 45%;
  --chart-3: 6 75% 45%;
  --chart-4: 66 75% 45%;
  --chart-5: 206 75% 45%;

  --success: 120 60% 40%;
  --success-foreground: 120 20% 80%;
  --warning: 45 100% 40%;
  --warning-foreground: 45 100% 30%;
  --info: 200 100% 40%;
  --info-foreground: 200 100% 80%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
