@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  /* Base Theme Colors */
  --background: 303 92% 95%;
  --foreground: 303 5% 10%;
  --card: 303 50% 90%;
  --card-foreground: 303 5% 15%;
  --popover: 303 92% 95%;
  --popover-foreground: 303 95% 10%;
  --primary: 303 88% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 303 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 265 30% 85%;
  --muted-foreground: 303 5% 40%;
  --accent: 265 30% 80%;
  --accent-foreground: 303 5% 15%;
  --destructive: 0 92% 50%;
  --destructive-foreground: 303 5% 90%;
  --border: 303 30% 60%;
  --input: 303 30% 50%;
  --ring: 303 88% 40%;
  --radius: 1rem;


  --chart-1: 26 85% 50%;
  /* Primary Orange */
  --chart-2: 46 85% 50%;
  /* Warm Yellow */
  --chart-3: 6 85% 50%;
  /* Warm Red */
  --chart-4: 66 85% 50%;
  /* Warm Green */
  --chart-5: 206 85% 50%;
  /* Complementary Blue */
}

.dark {
  /* Base Theme Colors */
  --background: 303 50% 10%;
  --foreground: 303 5% 90%;
  --card: 303 50% 10%;
  --card-foreground: 303 5% 90%;
  --popover: 303 50% 5%;
  --popover-foreground: 303 5% 90%;
  --primary: 303 88% 40%;
  --primary-foreground: 0 0% 100%;
  --secondary: 303 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 265 30% 25%;
  --muted-foreground: 303 5% 60%;
  --accent: 265 30% 25%;
  --accent-foreground: 303 5% 90%;
  --destructive: 0 92% 50%;
  --destructive-foreground: 303 5% 90%;
  --border: 303 30% 50%;
  --input: 303 30% 50%;
  --ring: 303 88% 40%;
  --radius: 1rem;


  --chart-1: 26 75% 45%;
  /* Darker Orange */
  --chart-2: 46 75% 45%;
  /* Darker Yellow */
  --chart-3: 6 75% 45%;
  /* Darker Red */
  --chart-4: 66 75% 45%;
  /* Darker Green */
  --chart-5: 206 75% 45%;
  /* Darker Blue */
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}